{% extends 'tasker/base.html' %}
{% block content %}
    <div class="form-wrapper">
        {% if 'new' in request.path %}
            <h4>New {% if 'task' in request.path %}task{% endif %}</h4>
        {% endif %}
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'tasker/custom_form.html' %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
