{% extends 'tasker/base.html' %}
{% block content %}
    <div class="form-wrapper">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete this task?</p>
            <div class="d-flex justify-content-between  ">
                <input type="submit" class=" btn btn-danger" value="Confirm"/>
                <a class="btn" style="background: lightgray;" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}