{% extends 'tasker/base.html' %}
{% block content %}
    <div class="d-flex flex-wrap card-group">
        {% for plan in plans %}
            <div class="flex-fill p-2">
                <div class="card-face" {% if not plan.enable %}style="opacity: .4"{% endif %}>
                    <div class="front">
                        <div class="card">
                            <div class="card-header" style="background: #ff7a66">
                            </div>
                            <div class="card-body">
                                {{ plan.info }}
                            </div>
                            <div class="card-footer" style="text-align: center">Every {{ plan.period }}
                                {% if plan.period_type == 1 %} day
                                {% elif plan.period_type == 2 %} week
                                {% elif plan.period_type == 3 %} month
                                {% elif plan.period_type == 4 %} year{% endif %}
                            </div>
                            <small class="text-muted offset-1">Nearest deadline: {{ plan.deadline|date:'N j, Y, f ' }}</small>
                        </div>
                    </div>
                    <div class="back">
                        <a href="{% url 'plans:edit' plan.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'plans:switch' plan.pk %}" class="btn bg-warning" style="color: white;">
                            {% if plan.enable %}Disable{% else %}Activate{% endif %}</a>
                        <a href="{% url 'plans:delete' plan.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1 class="display-3">No Plans</h1>
        {% endfor %}
    </div>
{% endblock %}