{% extends 'tasker/base.html' %}
{% load humanize %}
{% block content %}
    <div class="d-flex flex-wrap card-group">
        {% for task in tasks %}
            <div class="flex-fill p-2">
                <div class="card-face">
                    <div class="front ">
                        <div class="card ">
                            {% if task.priority == 1 %}
                                <div class="card-header" style="background: #b3b3b3">
                                    Low priority
                                </div>
                            {% elif task.priority == 2 %}
                                <div class="card-header" style="background: #5294ff">
                                    Medium priority
                                </div>
                            {% else %}
                                <div class="card-header" style="background: #ffd700">
                                    High priority
                                </div>
                            {% endif %}
                            <div class="card-body">
                                {{ task.pk }}|{{ task.info|slice:':40' }}{% if task.info|length > 40 %}...{% endif %}
                            </div>
                            <div class="card-footer"
                                 style="text-align: center;{% if task.owner.all %} background: #FCE883;{% endif %}">
                                {{ task.deadline|date:'N j, Y, f '|default:'No deadline' }}
                            </div>
                            <small class="text-muted offset-1">{{ task.updated_at }}</small>
                        </div>
                    </div>
                    <div class="back">
                        <a href="{% url 'tasks:detail' task.pk %}" class="btn btn-primary">Details</a>
                        {% if task.owner.nickname == request.user.username %}
                            {% if task.status == 'In process' %}
                                <a href="{% url 'tasks:share' task.pk %}" class="btn btn-warning" style="color: white;">Share</a>
                            {% endif %}
                        {% endif %}
                        {% if not task.deleted %}
                            <a href="{% url 'tasks:finish' task.pk %}" class="btn btn-success">Finish</a>
                        {% else %}
                            <a href="{% url 'tasks:revive' task.pk %}" class="btn btn-success">Revive</a>
                        {% endif %}
                        {% if task.status == 'In process' %}
                            <a href="{% url 'tasks:delete' task.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if task.status == 'Deadline missed' %}
                            <a href="{% url 'tasks:delete' task.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            {% if 'search' in request.path %}
                <h1 class="display-3">No such tasks were found</h1>
            {% else %}
                <h1 class="display-3">No tasks</h1>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
