{% extends 'tasker/base.html' %}
{% load humanize %}
{% block content %}
    <div class="form-wrapper">
        <h3 class="text-center">
            Creator:
            <b>{{ task.owner }}</b>
        </h3>
        <p style=" word-wrap: break-word;">{{ task.pk }}|{{ task.info }}</p>
        <table class="table borderless">
            <tr>
                <th>Priority:</th>
                <th>{% if task.priority == 1 %} Low
                    {% elif task.priority == 2 %} Medium
                    {% else %} High
                    {% endif%}</th>
            </tr>
            {% if task.parent_task %}
                <tr>
                    <th>Parent task:</th>
                    <th><a style="color: black; display: block"
                           href="{% url 'tasks:detail' task.parent_task.pk %}">{{ task.parent_task.info }}</a>
                </tr>
            {% endif %}
            <tr>
                <th>Deadline:</th>
                <th>{{ task.deadline|date:'N j, Y, f '|default:"No deadline" }}</th>
            </tr>
            <tr>
                <th>Status:</th>
                <th>{{ task.status }}</th>
            </tr>
            {% if task.tags|length > 0 %}
                <tr>
                <th class="btn btn-primary" data-toggle="collapse"
                    data-target="#collapseTags"
                style="width: 60%;">Tags</th>
            </tr>
            <tr>
                <td>
                    <div class="collapse" id="collapseTags">
                        <div class="card card-body">
                            <a> {{ task.tags }}</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% if task.subtasks.all.exists %}
                    <tr>
                        <th class="btn btn-primary" data-toggle="collapse"
                            data-target="#collapseSubtasks"
                        style="width: 100%;">Subtasks</th>
                    </tr>
                {% for sub in task.subtasks.all %}
                    <tr>
                        <td>
                            <div class="collapse" id="collapseSubtasks">
                                <a href="{% url 'tasks:detail' sub.pk %}"
                                   {% if sub.status != 'In process' %}style="opacity: .4"{% endif %}
                                   class="btn bg-light">
                                        {{ sub.info|slice:':10' }}{% if sub.info|length > 10 %}...{% endif %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if task.shared.all.exists %}
                <tr>
                    <th>Owners:</th>
                {% for owner in task.shared.all %}
                        <td>
                            <div class="btn-group " style="width: 100%;">
                                <button style="width: 100%;"
                                        class="btn btn-sm">{{ owner }}</button>
                                {% if task.parent_task == None %}
                                    <a href="{% url 'tasks:unshare' pk=task.pk name=task.shared.all.first %}"
                                   class="btn bg-danger btn-sm"><i class="fas fa-trash-alt white"
                                                                   style="color: #e6e7e8"></i></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <table class="table borderless">
            <tr>
                <th><a style="width: 100%; color: #e6e7e8;"
                       href="{% url 'tasks:edit' task.pk %}" class="btn btn-primary ">Edit</a>
                </th>
                <th><a href="{% url 'tasks:delete' task.pk %}" style="width: 100%;" class="btn btn-danger ">Delete</a></th>
            </tr>
            <tr>
                {% if task.owner.nickname == request.user.username %}
                    {% if task.parent_task == None %}
                        {% if task.status == 'In process' %}
                            <th><a href="{% url 'tasks:share' task.pk %}" class="btn btn-warning">Share</a></th>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <th>
                {% if task.status != 'Complete' %}
                   <a href="{% url 'tasks:finish' task.pk %}" class="btn btn-success">Finish</a>
                {% endif %}
                </th>
                <th>
                    {% if task.status != 'In process' %}
                        {% if task.status != 'Deadline missed' %}
                            <a href="{% url 'tasks:revive' task.pk %}" class="btn btn-success">Revive</a>
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
        </table>
    </div>
{% endblock %}