/*edit later*/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.left-bar {
    width: 150px;
    height: 100vh;

}

.packing {
    display: flex;
    flex-direction: row;
}

/*////////////////////////////*/

.instances_container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.preview {
    margin-bottom: 1px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #90a4ae;

}

.preview:hover {
    background-color: rgb(240, 173, 78);
}

.left-bar_btn-add, .preview_btn-delete {
    width: 100%;
}

.preview_btn-delete {
    height: 100%;
}

.list-full {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block !important;
}

.dropdown-menu {
    min-width: 0 !important;
}

.card-face {
    position: relative;
    margin-top: 5%;
    margin-left: 1%;
    background: transparent;
    perspective: 1000px;
    min-width: 15rem;
    min-height: 15rem;
    max-width: 20rem;
}

.card-header {
    min-height: 0.5rem;
    max-height: 2.7rem;
}

.front, .back {
    transition: 0.5s;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e6e7e8;

    padding: 1%;
}

.back {
    display: flex;
    padding: 10%;
    justify-content: space-around;
    flex-direction: column;
    transform: rotateY(180deg);
}

.card-face:hover .front {
    transform: rotateY(180deg);
}

.card-face:hover .back {
    transform: rotateY(360deg);
}

.form-wrapper {
    position: absolute;
    min-width: 20%;
    margin: 3% 3% 3% 40%;
    padding: 1%;
    border: whitesmoke solid;
    border-radius: 20px;
    background: #e6e7e8;
}

.card {
    height: 100%;
}

table.borderless td, table.borderless th {
    border: none !important;
}

.message-block {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 3%;
}