{% extends 'tasker/base.html' %}
{% block content %}
    <div class="form-wrapper">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {% include 'tasker/custom_form.html' %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr>
        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
    </div>
{% endblock %}