{% extends 'tasker/base.html' %}
{% block content %}
    <div class="form-wrapper">
        <h2>Sign up</h2>
        <form method="POST">
            {% csrf_token %}
            {% include 'tasker/custom_form.html' %}
            <button type="submit" class="btn btn-primary">Sing up</button>
        </form>
        <hr>
        Have an account? <a href="{% url 'login' %}">Log in</a>
    </div>
{% endblock %}